
    /* Base Styles */
    html {
        font-size: 62.5%;
    }

    /* Contact Icons */
    .contact_icons {
        display: flex;
        justify-content: space-around;
    }

    .contact_icons a {
        font-size: 40px;
        margin: 0 10px;
    }

    /* Modal Container */
    .new-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .new-container:target {
        display: flex;
    }

    /* Modal Styles */
    .new-modal {
        width: 60rem;
        padding: 4rem 2rem;
        border-radius: .8rem;
        color: hsl(0, 0%, 100%);
        background: #eaeaea;
        box-shadow: .4rem .4rem 2.4rem .2rem hsl(0, 0%, 38%);
        position: relative;
        overflow: hidden;
    }

    /* Modal Details Section */
    .new-details {
        text-align: center;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        border-bottom: 1px solid hsla(0, 0%, 100%, .4);
    }

    .new-title {
        font-size: 3.2rem;
    }

    .new-description {
        margin-top: 2rem;
        font-size: 1.6rem;
        font-style: italic;
    }

    /* Modal Text Section */
    .new-txt {
        padding: 0 4rem;
        margin-bottom: 4rem;
        font-size: 1.6rem;
        line-height: 2;
        position: relative;
    }

    .new-txt::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 100%;
        transform: translate(-50%, -50%);
        width: 18rem;
        height: 18rem;
        border: 1px solid hsla(0, 0%, 100%, .2);
        border-radius: 100rem;
        pointer-events: none;
    }

    /* Link 2 (Close Button) */
    .new-link-2 {
        width: 4rem;
        height: 4rem;
        border: 1px solid hsla(0, 0%, 0%, 0.4);
        border-radius: 100rem;
        color: inherit;
        font-size: 2.2rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s;
    }

    .new-link-2::before {
        content: '×';
        transform: translateY(-.1rem);
        color: black;
    }

    .new-link-2:hover,
    .new-link-2:focus {
        border-color: hsla(0, 100%, 50%, 0.6);
        transform: translateY(-.2rem);
    }

    /* Social Icons Section */
    .new-social-icons {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .new-social-icons a {
        margin: 0 10px;
        color: #312a2a;
        text-decoration: none;
        font-size: 39px;
    }

    .new-social-icons a:hover {
        color: #2188ff;
    }

    /* Common Styles for Cards */
    .card-with-border-radius {
        border-radius: 10px;
        overflow: hidden;
    }

    .img-small-center {
        width: 75px;
        height: 75px;
        display: block;
        margin: 0 auto;
    }

    .card {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 10px;
        text-align: center;
        background-color: #f5f5f5;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        max-width: 100px;
        max-height: 100px;
    }

    .card h2 {
        font-size: 18px;
        margin-top: 10px;
    }

    .card p {
        font-size: 14px;
    }

    /* Zoom Image */
    .zoom-image {
        transition: transform 0.3s;
    }

    .zoom-image:hover {
        transform: scale(1.1);
    }

    /* Gallery */
    .gallery-single {
        transition: transform 0.5s;
    }

    .gallery-single:hover {
        transform: scale(1.1);
    }

    .gallery-single img {
        max-width: 100%;
        height: auto;
    }

    /* Section */
    .section.lb {
        padding: 50px 0;
        background-color: #f7f7f7;
    }

    .section-title h3 {
        font-size: 36px;
        margin: 0 0 20px;
        padding: 0;
        font-weight: 700;
    }


    .image-project{
    border-radius:3%;
    margin-left: 10px;
     width: 350px;
    }


        /* Add your CSS here */
        @media (max-width: 768px) {
            /* Styles for screens with a maximum width of 768px (typical tablets and smaller screens) */
            .profile {
              text-align: center;
            }
            .social-links {
              display: flex;
              justify-content: center;
            }
            .navbar ul {
              flex-direction: column;
            }
            .navbar li {
              margin: 10px 0;
            }

        }

        .forskill {
          width: 130px;
          height: 50px;
          border-color: #5c5d64;
          color: rgb(16, 16, 16);
          border-style: solid;
          border-radius: 12px;
          padding: 9px 16px;
          display: flex;
          justify-content: center;
          margin: 5px;

        }

        .icons {
          overflow-clip-margin: content-box;
          overflow: clip;
          height: 30px;
        }
        .text{
          margin-top: 5px;
          margin-left: 5px;
        }

        .height{
            height: 265px;
        }

        .forskill:hover {
            transform: scale(1.05);
        }
        .no-hover{
            pointer-events: none;

        }

    